<div class="view">
  <article>
    <h2>Menubar</h2>

    <section>
      <h3>Examples</h3>

      <section>
        <h4>Simple</h4>

        <xel-demo>
          <template>
            <x-menubar>
              <x-menuitem>
                <x-label>File</x-label>

                <x-menu>
                  <x-menuitem>
                    <x-label>New</x-label>
                    <x-shortcut ctrl key="N"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-label>Open…</x-label>
                    <x-shortcut ctrl key="O"></x-shortcut>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-label>Save</x-label>
                    <x-shortcut ctrl key="S"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-label>Save as…</x-label>
                    <x-shortcut ctrl shift key="S"></x-shortcut>
                  </x-menuitem>
                </x-menu>
              </x-menuitem>

              <x-menuitem>
                <x-label>Edit</x-label>

                <x-menu>
                  <x-menuitem>
                    <x-icon name="undo"></x-icon>
                    <x-label>Undo</x-label>
                    <x-shortcut ctrl key="Z"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem disabled>
                    <x-icon name="redo"></x-icon>
                    <x-label>Redo</x-label>
                    <x-shortcut ctrl shift key="Z"></x-shortcut>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon name="content-cut"></x-icon>
                    <x-label>Cut</x-label>
                    <x-shortcut ctrl key="X"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="content-copy"></x-icon>
                    <x-label>Copy</x-label>
                    <x-shortcut ctrl key="C"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="content-paste"></x-icon>
                    <x-label>Paste</x-label>
                    <x-shortcut ctrl key="V"></x-shortcut>
                  </x-menuitem>
                </x-menu>
              </x-menuitem>

              <x-menuitem>
                <x-label>View</x-label>

                <x-menu>
                  <x-menuitem selected="true">
                    <x-label>Show ruler</x-label>
                  </x-menuitem>

                  <x-menuitem selected="false">
                    <x-label>Show spelling suggestions</x-label>
                  </x-menuitem>
                </x-menu>
              </x-menuitem>

              <x-menuitem>
                <x-label>Help</x-label>

                <x-menu>
                  <x-menuitem>
                    <x-icon name="help"></x-icon>
                    <x-label>Documentation</x-label>
                  </x-menuitem>
                </x-menu>
              </x-menuitem>
            </x-menubar>
          </template>
        </xel-demo>
      </section>

      <hr/>

      <section>
        <h4>Complex</h4>

        <xel-demo>
          <template>
            <x-menubar>
              <x-menuitem>
                <x-label>File</x-label>

                <x-menu>
                  <x-menuitem>
                    <x-label>New</x-label>
                    <x-shortcut ctrl key="N"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-label>Open…</x-label>
                    <x-shortcut ctrl key="O"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-label>Open recent</x-label>

                    <x-menu>
                      <x-menuitem>
                        <x-label>Document 1</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-label>Document 2</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-label>Document 3</x-label>
                      </x-menuitem>
                    </x-menu>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-label>Save</x-label>
                    <x-shortcut ctrl key="S"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-label>Save as…</x-label>
                    <x-shortcut ctrl shift key="S"></x-shortcut>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-label>Close</x-label>
                    <x-shortcut ctrl key="W"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-label>Quit</x-label>
                    <x-shortcut ctrl key="Q"></x-shortcut>
                  </x-menuitem>
                </x-menu>
              </x-menuitem>

              <x-menuitem>
                <x-label>Edit</x-label>

                <x-menu>
                  <x-menuitem>
                    <x-icon name="undo"></x-icon>
                    <x-label>Undo</x-label>
                    <x-shortcut ctrl key="Z"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="redo"></x-icon>
                    <x-label>Redo</x-label>
                    <x-shortcut ctrl shift key="Z"></x-shortcut>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon name="content-cut"></x-icon>
                    <x-label>Cut</x-label>
                    <x-shortcut ctrl key="X"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="content-copy"></x-icon>
                    <x-label>Copy</x-label>
                    <x-shortcut ctrl key="C"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="content-paste"></x-icon>
                    <x-label>Paste</x-label>
                    <x-shortcut ctrl key="V"></x-shortcut>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon name="send"></x-icon>
                    <x-label>Web clipboard</x-label>

                    <x-menu>
                      <x-menuitem>
                        <x-icon name="content-copy"></x-icon>
                        <x-label>Copy selection to web clipboard</x-label>
                      </x-menuitem>

                      <hr/>

                      <x-menuitem>
                        <x-icon></x-icon>
                        <x-label>Web clipboard help</x-label>
                      </x-menuitem>
                    </x-menu>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Select all</x-label>
                    <x-shortcut ctrl key="A"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Select none</x-label>
                    <x-shortcut ctrl shift key="A"></x-shortcut>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Find and replace…</x-label>
                    <x-shortcut ctrl shift key="H"></x-shortcut>
                  </x-menuitem>
                </x-menu>
              </x-menuitem>

              <x-menuitem>
                <x-label>View</x-label>

                <x-menu>
                  <x-menuitem selected="true">
                    <x-label>Print layout</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Mode</x-label>

                    <x-menu>
                      <x-menuitem>
                        <x-icon name="mode-edit"></x-icon>
                        <x-label>Editing</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-icon name="rate-review"></x-icon>
                        <x-label>Suggesting</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-icon name="visibility"></x-icon>
                        <x-label>Viewing</x-label>
                      </x-menuitem>
                    </x-menu>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem selected="true">
                    <x-label>Show ruler</x-label>
                  </x-menuitem>

                  <x-menuitem selected="false">
                    <x-label>Show equation toolbar</x-label>
                  </x-menuitem>

                  <x-menuitem selected="true">
                    <x-label>Show spelling suggestions</x-label>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem selected="false">
                    <x-label>Compact controls</x-label>
                    <x-shortcut ctrl shift key="F"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem selected="false">
                    <x-label>Full screen</x-label>
                  </x-menuitem>
                </x-menu>
              </x-menuitem>

              <x-menuitem>
                <x-label>Format</x-label>

                <x-menu>
                  <x-menuitem>
                    <x-icon name="format-bold"></x-icon>
                    <x-label>Bold</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="format-italic"></x-icon>
                    <x-label>Italic</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="format-underlined"></x-icon>
                    <x-label>Underline</x-label>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon name="format-strikethrough"></x-icon>
                    <x-label>Strikethrough</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Superscript</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Subscript</x-label>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Align</x-label>

                    <x-menu>
                      <x-menuitem>
                        <x-icon name="format-align-left"></x-icon>
                        <x-label>Left</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-icon name="format-align-center"></x-icon>
                        <x-label>Center</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-icon name="format-align-right"></x-icon>
                        <x-label>Right</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-icon name="format-align-justify"></x-icon>
                        <x-label>Justify</x-label>
                      </x-menuitem>
                    </x-menu>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Line spacing</x-label>

                    <x-menu>
                      <x-menuitem>
                        <x-icon></x-icon>
                        <x-label>Single</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-icon></x-icon>
                        <x-label>1.15</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-icon></x-icon>
                        <x-label>Double</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-icon></x-icon>
                        <x-label>Custom: 1.2</x-label>

                        <x-menu>
                          <x-menuitem>
                            <x-label>Line spacing</x-label>
                            <x-label>1.2</x-label>
                          </x-menuitem>

                          <x-menuitem>
                            <x-label>Paragraph spacing before</x-label>
                            <x-label>1.2</x-label>
                          </x-menuitem>

                          <x-menuitem>
                            <x-label>Paragraph spacing after</x-label>
                            <x-label>1.5</x-label>
                          </x-menuitem>
                        </x-menu>
                      </x-menuitem>

                      <hr/>

                      <x-menuitem>
                        <x-label>Add space before paragraph</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-label>Add space after paragraph</x-label>
                      </x-menuitem>

                      <hr/>

                      <x-menuitem>
                        <x-label>Custom spacing…</x-label>
                      </x-menuitem>
                    </x-menu>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="format-align-justify"></x-icon>
                    <x-label>Columns</x-label>

                    <x-menu>
                      <x-menuitem selected="true">
                        <x-label>1</x-label>
                      </x-menuitem>

                      <x-menuitem selected="false">
                        <x-label>2</x-label>
                      </x-menuitem>

                      <x-menuitem selected="false">
                        <x-label>3</x-label>
                      </x-menuitem>

                      <hr/>

                      <x-menuitem>
                        <x-label>More options…</x-label>
                      </x-menuitem>
                    </x-menu>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon name="format-clear"></x-icon>
                    <x-label>Clear formatting</x-label>
                    <x-shortcut ctrl key="\"></x-shortcut>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon name="crop"></x-icon>
                    <x-label>Crop image</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Image options…</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Replace image</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="filter"></x-icon>
                    <x-label>Reset image</x-label>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Alt text…</x-label>
                  </x-menuitem>
                </x-menu>
              </x-menuitem>

              <x-menuitem>
                <x-label>Insert</x-label>

                <x-menu>
                  <x-menuitem>
                    <x-icon name="image"></x-icon>
                    <x-label>Image</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="link"></x-icon>
                    <x-label>Link</x-label>
                    <x-shortcut ctrl key="K"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="functions"></x-icon>
                    <x-label>Equation</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="edit"></x-icon>
                    <x-label>Drawing</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="insert-chart"></x-icon>
                    <x-label>Chart</x-label>

                    <x-menu>
                      <x-menuitem>
                        <x-icon name="insert-chart"></x-icon>
                        <x-label>Bar</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-icon name="bubble-chart"></x-icon>
                        <x-label>Bubble</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-icon name="show-chart"></x-icon>
                        <x-label>Line</x-label>
                      </x-menuitem>

                      <x-menuitem>
                        <x-icon name="pie-chart"></x-icon>
                        <x-label>Pie</x-label>
                      </x-menuitem>
                    </x-menu>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon name="comment"></x-icon>
                    <x-label>Comment</x-label>
                    <x-shortcut ctrl alt key="M"></x-shortcut>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon name="note"></x-icon>
                    <x-label>Footnote</x-label>
                    <x-shortcut ctrl alt key="F"></x-shortcut>
                  </x-menuitem>

                  <hr/>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Special characters…</x-label>
                  </x-menuitem>

                  <x-menuitem>
                    <x-icon></x-icon>
                    <x-label>Horizontal line</x-label>
                  </x-menuitem>
                </x-menu>
              </x-menuitem>

              <x-menuitem>
                <x-label>Help</x-label>

                <x-menu>
                  <x-menuitem>
                    <x-icon name="help"></x-icon>
                    <x-label>Documentation</x-label>
                  </x-menuitem>
                </x-menu>
              </x-menuitem>
            </x-menubar>
          </template>
        </xel-demo>
      </section>
    </section>
  </article>
</div>