<div class="view">
  <article>
    <h2>Progress bar</h2>

    <h3>Examples</h3>

    <section>
      <h4>No value</h4>

      <xel-demo>
        <template>
          <x-progressbar></x-progressbar>
        </template>
      </xel-demo>
    </section>

    <hr/>

    <section>
      <h4>Value</h4>

      <xel-demo>
        <template>
          <x-progressbar value="0.5"></x-progressbar>
        </template>
      </xel-demo>
    </section>

    <hr/>

    <section>
      <h4>Max</h4>

      <xel-demo>
        <template>
          <x-progressbar value="50" max="100"></x-progressbar>
        </template>
      </xel-demo>
    </section>

    <hr/>

    <section>
      <h4>Value changing over time</h4>

      <xel-demo>
        <template>
          <x-progressbar value="0"></x-progressbar>

          <script>
            let bar = document.querySelector("x-progressbar");
            let callback = () => bar.value >= 1 ? bar.value = 0 : bar.value += 0.15;
            setInterval(callback, 1000);
          </script>
        </template>
      </xel-demo>
    </section>

    <hr/>

    <section>
      <h4>Disabled</h4>

      <xel-demo>
        <template>
          <x-progressbar disabled></x-progressbar>
        </template>
      </xel-demo>
    </section>
  </article>
</div>