# Build
xel.min.html
xel.min.js

# Sublime Text
xel.sublime-workspace

# Firebase
firebase-debug.log

# NPM
node_modules/*
!node_modules/xel
npm-debug.log

# Dot files
.*
!.gitignore
!.npmignore
!.firebaserc