*/*
*.*
.*
!images/
!images/*
!stylesheets/
!stylesheets/galaxy.theme.css
!stylesheets/macos.theme.css
!stylesheets/material.theme.css
!stylesheets/vanilla.theme.css
!LICENSE.md
!README.md
!package.json
!xel.min.js