<div class="view">
  <article>
    <h2>FAQ</h2>

    <x-card>
      <main>
        <h4 style="color: rgb(0, 151, 136); margin-top: 0;">Q: What are the supported platforms?</h4>

        <p>Xel works only in environments that support latest Web Platform APIs such as <em>Custom Elements v1</em>, <em>Shadow DOM v1</em>, <em>Pointer Events</em>, <em>CSS variables</em> and <em>ECMAScript 2017</em>:</p>

        <ul style="margin-bottom: 0;">
          <li>Chrome >= <var>57</var></li>
          <li>Chromium >= <var>57</var></li>
          <li>Opera >= <var>44</var></li>
          <li>Atom Electron >= <var>1.6</var></li>
          <li>NW.js >= <var>0.21</var></li>
          <li>Android WebView >= <var>57</var></li>
        </ul>
      </main>
    </x-card>
  </article>
</div>