<div class="view">
  <article>
    <section id="setup-section">
      <h2>Setup</h2>

      <x-card>
        <main>
          <h3 style="margin-bottom: 0"><x-icon name="looks-one" style="color: #009788; width: 40px; height: auto; display: inline-block; vertical-align: middle;"></x-icon> Install Xel</h3>

          <p>Run from console:</p>
          <code style="display: block; white-space: pre-line; overflow: auto;">npm install git+https://git@github.com/jarek-foksa/xel.git</code>
        </main>
      </x-card>

      <x-card>
        <main>
          <h3 style="margin-bottom: 0"><x-icon name="looks-two" style="color: #009788; width: 40px; height: auto; display: inline-block; vertical-align: middle;"></x-icon> Link Xel</h3>

          <p>Add to the  <code>&lt;head&gt;:</code></p>
          <pre style="display: block; white-space: pre; overflow: auto;">&lt;link rel="import" href="node_modules/xel/xel.min.html"&gt;</pre>
        </main>
      </x-card>

      <x-card>
        <main>
          <h3 style="margin-bottom: 0"><x-icon name="looks-3" style="color: #009788; width: 40px; height: auto; display: inline-block; vertical-align: middle;"></x-icon> Link Xel theme</h3>

          <p>Add to the <code>&lt;head&gt;</code> one of the following:</p>
            <p><strong>Material</strong>:
            <pre style="display: block; white-space: pre; overflow: auto;">&lt;link rel="stylesheet" href="node_modules/xel/stylesheets/material.theme.css"&gt;</pre>
            </p>

            <p><strong>macOS</strong>:
            <pre style="display: block; white-space: pre; overflow: auto;">&lt;link rel="stylesheet" href="node_modules/xel/stylesheets/macos.theme.css"&gt;</pre>
            </p>
        </main>
      </x-card>
    </section>
  </article>
</div>