
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 * @info
 *   Dark theme for desktop apps.
 */

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: var(--text-color);
  background: #525252;
  font-family: BlinkMacSystemFont, "Roboto", "Helvetica Neue", "Lucida Grande", "Arial", sans-serif;
  font-size: 15px;
  line-height: 1.6;
  --accent-color-h: 211;
  --accent-color-s: 97%;
  --accent-color-l: 53%;
  --text-color: rgb(239, 239, 239);
  --selection-background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 35%));
}

*:not(:defined) {
  display: none;
}

h2 {
  margin: 35px 0 15px 0;
  box-sizing: border-box;
  color: rgb(239, 239, 239);
  font-size: 50px;
  font-weight: 200;
  line-height: 1.1;
}

h3 {
  margin: 27px 0 18px 0;
  box-sizing: border-box;
  color: rgb(239, 239, 239);
  font-size: 36px;
  font-weight: 200;
  line-height: 1.2;
}

h4 {
  margin: 34px 0 18px 0;
  box-sizing: border-box;
  color: rgb(239, 239, 239);
  font-size: 24px;
  font-weight: 300;
  line-height: 1.1;
}

h5 {
  margin: 10px 0 8px 0;
  box-sizing: border-box;
  color: rgb(239, 239, 239);
  font-size: 14px;
  font-weight: 600;
  line-height: 1.1;
}

p:last-child {
  margin-bottom: 0;
}

em {
  font-weight: 500;
}

pre,
code,
var {
  font-size: 14px;
  font-family: "Menlo", "Andale Mono", monospace;
  font-style: normal;
  padding: 0 4px;
  color: rgba(0, 0, 0, 0.85);
  background: #b1b1b1;
}

hr {
  width: 100%;
  height: 1px;
  min-height: 1px;
  box-sizing: border-box;
  margin: 2px 0px 2px 0;
  background: rgba(255, 255, 255, 0.2);
  border: none;
}

a {
  color: inherit;
  text-decoration: none;
}
p a,
li a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
x-label a {
  color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 25%));
  text-decoration: underline;
}
p a:hover,
li a:hover
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
x-label a:hover {
  text-decoration: none;
}

sidebar {
  background: #4a4949;
}

nav {
  box-sizing: border-box;
  padding: 0 30px;
}

nav section {
  margin: 15px 0;
}

nav h3 {
  opacity: 0.6;
  margin: 12px 0 6px -6px;
  padding: 0;
  font-size: 13px;
  font-weight: 700;
  user-select: none;
  cursor: default;
}

nav hr {
  margin: 0 0 0 -30px;
  width: calc(100% + 60px);
}

::selection {
  background: var(--selection-background);
}
:host([invalid]) ::selection {
  color: white;
  background: #d50000;
}

::-webkit-scrollbar {
  max-width: 6px;
  max-height: 6px;
  background: none;
}
::-webkit-scrollbar-track {
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 25px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}
::-webkit-scrollbar-corner {
  display: none
}

/*****************************************************************************************************************/

/**
 * Card
 */

x-card {
  background: #4c4c4c;
  border: 1px solid #6d6d6d;
  border-radius: 2px;;
}

x-card > main {
  padding: 16px 20px;
}

x-card h3:first-child {
  margin-top: 0;
}

/*****************************************************************************************************************/

/**
 * Icon
 */

x-icon {
  width: 17px;
  height: 17px;
}

/*****************************************************************************************************************/

/**
 * Label
 */

x-label {
  font-size: 13px;
}

/*****************************************************************************************************************/

/**
 * Stepper
 */

x-stepper {
  flex-flow: column-reverse;
  border-radius: 0px;
  overflow: hidden;
  box-sizing: border-box;
  width: 14px;
  height: 24px;
  box-shadow: none;
  background: #e4e4e4;
  color: rgba(0, 0, 0, 0.8);
  --button-color: rgba(0, 0, 0, 0.9);
  --pressed-button-background: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
}

/*****************************************************************************************************************/

/**
 * Swatch
 */

x-swatch {
  border: 1px solid rgba(255, 255, 255, 0.55);
}

/*****************************************************************************************************************/

/**
 * Buttons
 */

x-button {
  min-height: 24px;
  padding: 2px 14px;
  color: var(--text-color);
  background: #4c4c4c;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  font-size: 13px;
}
x-button:focus {
  box-shadow: 0 0 0px 3px hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
}
x-button[disabled] {
  opacity: 0.4;
}
x-button[expanded] {
  background: rgba(255, 255, 255, 0.02);
}
x-button[toggled] {
  color: white;
  background: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
}
x-button[pressed],
x-button[pressed][toggled],
x-button[expanded][toggled] {
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 7%));
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
}
x-button[pressed][mixed]:not([toggled]) {
  color: var(--text-color);
  background: rgba(0, 0, 0, 0.05);
  border-color: #ACACAC;
}

x-button > x-label,
x-button > x-box > x-label {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

x-button > x-box {
  overflow: hidden;
  align-items: center;
}

x-button > x-box[vertical] > * {
  margin: 0 0 2px 0;
}
x-button > x-box:not([vertical]) > * {
  margin: 0 6px 0 0;
}
x-button > x-box[vertical] > *:last-child {
  margin: 0;
}
x-button > x-box:not([vertical]) > *:last-child {
  margin: 0;
}

x-buttons > x-button:focus {
  z-index: 1;
}

/* Vertical buttons */
x-buttons[vertical] {
  flex-flow: column;
}
x-buttons[vertical] > x-button:not(:first-of-type) {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
x-buttons[vertical] > x-button:not(:last-of-type) {
  border-bottom: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
x-buttons[vertical] > x-button {
  width: 100%;
  justify-content: flex-start;
}
x-buttons[vertical] > x-button[toggled] + x-button {
  border-top-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
}
x-buttons[vertical] > x-button[pressed] + x-button {
  border-top-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
}

/* Horizontal buttons */
x-buttons:not([vertical]) > x-button:not(:first-of-type) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
x-buttons:not([vertical]) > x-button:not(:last-of-type) {
  border-right: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
x-buttons:not([vertical]) > x-button[toggled] + x-button {
  border-left-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
}
x-buttons:not([vertical]) > x-button[pressed] + x-button {
  border-left-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
}

/* @skin "condensed" */

x-button[skin="condensed"] {
  padding: 2px 7px;
}

/* @skin "textured", "textured-condensed" */

x-button[skin^="textured"] {
  background-image: linear-gradient(to bottom, #4c4a4a, #4a4949);
  border-color: rgb(31, 31, 31);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.27), 0px 1px 0px 0px rgba(255, 255, 255, 0.18);
}
x-button[skin^="textured"][pressed] {
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 5%));
}
x-button[skin^="textured"][toggled] {
  background: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
}
x-button[skin^="textured"][expanded] {
  background: rgba(255, 255, 255, 0.05);
}
x-button[skin^="textured"][pressed][toggled],
x-button[skin^="textured"][expanded][toggled] {
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 5%));
  border-color: rgb(31, 31, 31);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.27), 0px 1px 0px 0px rgba(255, 255, 255, 0.18);
}
x-buttons:not([vertical]) > x-button[skin^="textured"][toggled] + x-button,
x-buttons:not([vertical]) > x-button[skin^="textured"][pressed] + x-button {
  border-left-color: rgb(31, 31, 31);
}
x-buttons[vertical] > x-button[skin^="textured"][toggled] + x-button,
x-buttons[vertical] > x-button[skin^="textured"][pressed] + x-button {
  border-top-color: rgb(31, 31, 31);
}

x-button[skin="textured-condensed"] {
  padding: 2px 7px;
}

/* @skin "plain", "plain-condensed" */

x-button[skin^="plain"] {
  min-height: 16px;
  background: none;
  border-radius: 3px;
}
x-button[skin^="plain"][toggled] {
  color: white;
  background: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
}
x-button[skin^="plain"][expanded] {
  background: rgba(255, 255, 255, 0.05);
}
x-button[skin^="plain"][pressed] {
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 5%));
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
}

x-button[skin^="plain-condensed"] {
  padding: 2px 7px;
}

x-buttons:not([vertical]) > x-button[skin^="plain"][toggled] + x-button,
x-buttons:not([vertical]) > x-button[skin^="plain"][pressed] + x-button {
  border-left-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
}
x-buttons[vertical] > x-button[skin^="plain"][toggled] + x-button,
x-buttons[vertical] > x-button[skin^="plain"][pressed] + x-button {
  border-top-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
}

/* @skin "iconic", "iconic-condensed" */

x-button[skin^="iconic"] {
  background: none;
  border: none;
  padding: 2px 6px 4px 6px;
  font-size: 12px;
}
x-button[skin^="iconic"][toggled] {
  background: rgb(64, 64, 64);
}

x-button[skin="iconic"] > x-icon,
x-button[skin="iconic"] > x-box > x-icon {
  width: 32px;
  height: 32px;
}
x-button[skin^="iconic"][pressed] > x-icon,
x-button[skin^="iconic"][pressed] > x-box > x-icon {
  filter: brightness(0.7);
}

x-button[skin^="iconic"][pressed] > x-label,
x-button[skin^="iconic"][pressed] > x-box > x-label {
  opacity: 0.7;
}
x-button[skin="iconic"] > x-box[vertical] > x-icon + x-label {
  margin-top: 3px;
}

x-button[skin="iconic-condensed"] > x-icon,
x-button[skin="iconic-condensed"] > x-box > x-icon {
  width: 24px;
  height: 24px;
}

x-button[skin="iconic-condensed"] > x-box > x-icon + x-label {
  margin-top: 2px;
}

x-buttons[vertical] > x-button[skin^="iconic"] {
  justify-content: center;
}

/* @skin "flat", "flat-condensed" */

x-button[skin^="flat"] {
  padding: 0;
  background: none;
  border: none;
  opacity: 1;
  color: rgba(255, 255, 255, 0.85);
  --arrow-margin: 0 0 0 2px;
}
x-button[skin="flat"] {
  --arrow-width: 10px;
  --arrow-height: 10px;
}
x-button[skin^="flat"][toggled],
x-button[skin^="flat"][expanded] {
  color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 18%));
  background: none;
}
x-button[skin^="flat"][pressed] {
  color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
}
x-button[skin^="flat"][mixed] {
  opacity: 0.7;
}
x-button[skin^="flat"][disabled] {
  opacity: 0.5;
}

x-button[skin="flat"] > x-icon {
  width: 26px;
  height: 26px;
}
x-button[skin="flat-condensed"] > x-icon {
  width: 16px;
  height: 16px;
}

x-buttons:not([vertical]) > x-button[skin="flat"]:not(:first-of-type) {
  margin-left: 10px;
}
x-buttons:not([vertical]) > x-button[skin="flat-condensed"]:not(:first-of-type) {
  margin-left: 5px;
}
x-buttons[vertical] > x-button[skin="flat"]:not(:first-of-type) {
  margin-top: 10px;
}
x-buttons[vertical] > x-button[skin="flat-condensed"]:not(:first-of-type) {
  margin-top: 5px;
}

/* @skin "mini", "mini-bordered" */

x-button[skin^="mini"] {
  padding: 2px 4px;
  min-height: 19px;
  background: none;
  border: none;
  border-radius: 0;
  --arrow-margin: 0 0 0 2px;
}
x-button[skin^="mini"][toggled] {
  color: rgb(90, 90, 90);
  background: rgba(255, 255, 255, 0.9);
}
x-button[skin^="mini"][expanded] {
  color: white;
}
x-button[skin^="mini"][pressed] {
  color: rgba(255, 255, 255, 0.95);
  background: rgba(255, 255, 255, 0.25);
}
x-button[skin^="mini"][pressed][toggled] {
  color: rgb(90, 90, 90);
  background: rgba(255, 255, 255, 1);
}

x-button[skin="mini-bordered"] {
  color: var(--text-color);
  background: #4c4c4c;
  border: 1px solid #8c8c8c;
}
x-button[skin="mini-bordered"][toggled] {
  border-color: rgba(255, 255, 255, 0.9);
}

x-buttons:not([vertical]) > x-button[skin^="mini-bordered"][toggled] + x-button,
x-buttons:not([vertical]) > x-button[skin^="mini-bordered"][pressed] + x-button {
  border-left-color: #8c8c8c;
}
x-buttons[vertical] > x-button[skin^="mini-bordered"][toggled] + x-button,
x-buttons[vertical] > x-button[skin^="mini-bordered"][pressed] + x-button {
  border-top-color: #8c8c8c;
}

/* @skin "recessed" */

x-button[skin="recessed"] {
  min-height: 18px;
  padding: 2px 8px;
  color: var(--primary-color);
  background: none;
  border: none;
  border-radius: 3px;
}
x-button[skin="recessed"][disabled] {
  opacity: 0.3;
}
x-button[skin="recessed"]:hover {
  background: rgba(255, 255, 255, 0.12);
}
x-button[skin="recessed"][toggled] {
  color: rgb(90, 90, 90);
  background: rgba(255, 255, 255, 0.9);
}
x-button[skin="recessed"][pressed] {
  color: rgba(255, 255, 255, 0.95);
  background: rgba(255, 255, 255, 0.25);
}
x-button[skin="recessed"][toggled][pressed] {
  color: rgb(90, 90, 90);
  background: rgba(255, 255, 255, 1);
}

x-button[skin="recessed"] x-label {
  font-size: 12px;
  font-weight: 700;
  text-align: center;
}

x-buttons > x-button[skin="recessed"] {
  border-radius: 4px !important;
}
x-buttons:not([vertical]) > x-button + x-button[skin="recessed"] {
  margin-left: 4px;
}
x-buttons[vertical] > x-button + x-button[skin="recessed"] {
  margin-top: 4px;
}

/* @skin "nav" */

x-button[skin="nav"] {
  padding: 8px 15px;
  background: none;
  border: none;
  border-radius: 0;
  cursor: default;
}
x-button[skin="nav"][toggled] {
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 2%));
}
x-button[skin="nav"][pressed],
x-button[skin="nav"][toggled][pressed] {
  color: white;
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 4%));
}

x-button[skin="nav"] x-icon {
  width: 24px;
  height: 24px;
  opacity: 0.9;
  margin-right: 12px;
}

x-button[skin="nav"] x-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 15px;
  font-weight: 500;
}

/* @skin "dock" */

x-button[skin="dock"] {
  width: 38px;
  height: 38px;
  min-height: 38px;
  padding: 0;
  border-radius: 0;
  border: 1px solid rgb(173, 173, 173);
}
x-button[skin="dock"][toggled] {
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 15%));
  background: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
}
x-button[skin="dock"][pressed] {
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 7%));
}
x-buttons[vertical] > x-button[skin="dock"] {
  width: 38px;
  justify-content: center;
}
x-buttons[vertical] > x-button[skin="dock"][toggled] + x-button {
  border-top-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 15%));
}
x-buttons[vertical] > x-button[skin="dock"][pressed] + x-button {
  border-top-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
}
x-buttons:not([vertical]) > x-button[skin="dock"][toggled] + x-button {
  border-left-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 15%));
}
x-buttons:not([vertical]) > x-button[skin="dock"][pressed] + x-button {
  border-left-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 10%));
}

/* @skin "help" */

x-button[skin="help"] {
  width: 22px;
  height: 22px;
  min-height: 22px;
  padding: 0;
  color: #424242;
  background: #eaeaea;
  border-color: #313131;
  border-radius: 999px;
}
x-button[skin="help"][pressed] {
  background: white;
}

x-button[skin="help"] > x-icon {
  width: 13px;
  height: 13px;
}

/* @skin "disclosure" */

x-button[skin="disclosure"] {
  padding: 0px 4px;
  color: rgba(255, 255, 255, 0.9);
  background: none;
  border: none;
  font-size: 12px;
}
x-button[skin="disclosure"][disabled] {
  opacity: 0.3;
}
x-button[skin="disclosure"][toggled] {
  color: rgba(255, 255, 255, 0.9);
  background: none;
}
x-button[skin="disclosure"][pressed] {
  color: rgba(255, 255, 255, 0.75);
}

x-button[skin="disclosure"] x-icon {
  width: 11px;
  height: 11px;
  margin-right: 5px;
  margin-top: -1px;
  transform: rotate(-90deg);
  transition: transform 0.1s linear;
}
x-button[skin="disclosure"][toggled] x-icon {
  transform: rotate(0deg);
}

/* @skin "disclosure-bordered" */

x-button[skin="disclosure-bordered"] {
  padding: 0;
  width: 21px;
  height: 21px;
  min-height: 21px;
  background: #4c4c4c;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
}
x-button[skin="disclosure-bordered"][pressed] {
  color: rgba(255, 255, 255, 0.95);
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid #8c8c8c;
}

x-button[skin="disclosure-bordered"] > x-icon {
  width: 9px;
  height: 8px;
  transition: transform 0.25s ease-in-out;
}
x-button[skin="disclosure-bordered"][toggled] > x-icon {
  transform: rotate(-180deg);
}

/*****************************************************************************************************************/

/**
 * Tabs
 */

x-tabs {
  max-width: 100%;
  color: var(--text-color);
  width: fit-content;
}

x-tab {
  padding: 2px 12px;
  min-height: 23px;
  box-sizing: border-box;
  background: #4c4c4c;
  border: 1px solid #8c8c8c;
  font-size: 14px;
  --selection-indicator-height: 0;
}
x-tab + x-tab {
  border-left: none;
}
x-tab:first-child {
  border-radius: 4px 0 0 4px;
}
x-tab:last-child {
  border-radius: 0 4px 4px 0;
}
x-tab:focus {
  box-shadow: 0 0 0px 3px hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
  z-index: 1;
}
x-tab[expanded] {
  background: #F0F0F0;
}
x-tab[selected] {
  color: white;
  background: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
}
x-tab[pressed] {
  background: rgba(255, 255, 255, 0.03);
}
x-tab[selected][pressed] {
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 7%));
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
}

x-tab > x-icon,
x-tab > x-box > x-icon {
  color: inherit;
  width: 15px;
  height: 15px;
  min-width: 15px;
}

x-tab > x-label,
x-tab > x-box > x-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  line-height: 1.2;
  cursor: inherit;
  flex: 1;
}

x-tab > x-box[vertical] {
  align-items: center;
}

x-tab > x-box > * {
  margin: 0 6px 0 0;
}
x-tab > x-box > *:last-child {
  margin: 0;
}

x-tab > x-box[vertical] > * {
  margin: 0 0 2px 0;
}
x-tab > x-box[vertical] > *:last-child {
  margin: 0;
}

/*****************************************************************************************************************/

/**
 * Document tabs
 */

x-doctabs {
  background: #4c4c4c;
  height: 25px;
  outline: 1px solid #6b6b6b;
  --open-button-width: 18px;
  --open-button-height: 18px;
  --open-button-margin: 0 4px;
}

x-doctab {
  outline: 1px solid #6b6b6b;
  background: #4c4c4c;
  border-bottom: none;
  max-width: 220px;
  padding: 0 18px;
  justify-content: center;
  align-items: center;
  --ripple-type: none;
  --selection-indicator-height: 0;
  --close-button-position: absolute;
  --close-button-width: 16px;
  --close-button-height: 16px;
  --close-button-left: 0px;
  --close-button-margin: 0 0 0 3px;
  --close-button-opacity: 0;
}
x-doctab[edited] {
  --close-button-opacity: 0.7;
}
x-doctab:hover {
  background: #525252;
  --close-button-opacity: 0.7;
}
x-doctab:focus {
  box-shadow: 0 0 0px 3px hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
  z-index: 100;
}
x-doctab[selected] {
  background: #818080;
  outline-color: #989898;
}

x-doctab img,
x-doctab x-icon {
  margin: 0 5px 0 0;
  width: 15px;
  height: 15px;
  min-width: 15px;
}

x-doctab x-label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
x-doctab[selected] x-label,
x-doctab:focus x-label {
  font-weight: 600;
}

x-doctab > * {
  opacity: 0.75;
}
x-doctab[selected] > *,
x-doctab:focus > * {
  opacity: 1;
}
x-doctab[disabled] > * {
  opacity: 0.5;
}

/*****************************************************************************************************************/

/**
 * Menu
 */

x-menu {
  padding: 4px 0;
  border-radius: 4px;
  background: #3a3a3a;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 22px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: var(--text-color);
  --open-transition: none;
}

x-menu hr {
  border-color: rgba(0, 0, 0, 0.12);
  width: 100%;
  height: 1px;
  margin: 4px 0px;
  box-sizing: border-box;
}
x-menu hr + hr,
x-menu hr:last-child {
  display: none;
}

/*****************************************************************************************************************/

/**
 * Menu item
 */

x-menuitem {
  padding: 4px 12px 4px 23px;
  min-height: 24px;
  --trigger-effect: blink;
  --checkmark-width: 18px;
  --checkmark-height: 18px;
  --checkmark-margin: 0 2px 0 -20px;
  --checkmark-d: path("M 44 61.2 L 29 47 L 21 55 L 45.53 79.613 L 79.031 26.397 L 70.063 20.387 L 44.052 61.152 Z");
}
x-menuitem:focus,
x-menuitem[expanded] {
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 7%));
  color: white;
}

x-menuitem img {
  width: 16px;
  height: 16px;
}

x-menuitem x-icon {
  width: 16px;
  height: 16px;
}
x-menuitem x-icon:not([name]) {
  display: none;
}

x-menuitem x-label {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 14px;
}

x-menuitem x-shortcut {
  margin-left: auto;
}

x-menuitem img + x-label,
x-menuitem x-swatch + x-label,
x-menuitem x-icon[name] + x-label,
x-menuitem x-label + x-shortcut {
  margin-left: 8px;
}

/*****************************************************************************************************************/

/**
 * Menubar
 */

x-menubar {
  height: 28px;
  padding: 0 6px;

  background: #4c4c4c;
  border: 1px solid #6b6b6b;
}

x-menubar > x-menuitem {
  padding: 0 11px;
  height: 100%;
}

/*****************************************************************************************************************/

/**
 * Dialog
 */

x-dialog {
  background: #5f5f5f;
  border: 1px solid #6d6d6d;
  border-top: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 22px;
  --backdrop-color: rgba(0, 0, 0, 0);
  --origin: top;
}

x-dialog main {
  padding: 20px 24px 0px;
  font-size: 13px;
  line-height: 1.6;
}

x-dialog > footer {
  padding: 12px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  margin-top: auto;
}

x-dialog > footer x-button {
  margin-left: 8px;
}

x-dialog h3 {
  font-size: 15px;
  font-weight: 700;
  color: rgba(255, 255, 255, 0.95);
  margin-top: 0;
  margin-bottom: 10px;
}

/*****************************************************************************************************************/

/**
 * Drawer
 */

x-drawer {
  background: #4a4949;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 22px;
  outline: 1px solid rgba(0, 0, 0, 0.14);
  --backdrop-color: rgba(0, 0, 0, 0);
}

/*****************************************************************************************************************/

/**
 * Popover
 */

x-popover {
  color: var(--text-color);
  background: #3a3a3a;
  border: 1px solid rgba(177, 177, 177, 0.61);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 4px 22px;
  --open-transition: none;
}

x-popover > main {
  width: 100%;
  padding: 10px;
  overflow: auto;
}

/*****************************************************************************************************************/

/**
 * Checkbox
 */

x-checkbox {
  width: 16px;
  height: 16px;
  margin: 0 6px 0 0;
  color: rgba(0, 0, 0, 0.5);
  background: white;
  border: 1px solid rgb(60, 60, 60);
  border-radius: 1px;
}
x-checkbox:active {
  background: #d6d6d6;
}
x-checkbox:focus {
  box-shadow: 0 0 0px 3px hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
}
x-checkbox[toggled] {
  background: white;
  color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 5%));
  border: 2px solid currentColor;
}
x-checkbox[toggled]:active {
  background: white;
  color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 5%));
}

/*****************************************************************************************************************/

/**
 * Radio
 */

x-radio {
  width: 15px;
  height: 15px;
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 3%));
  border: 1px solid rgb(60, 60, 60);
  --dot-transform: scale(1);
  --dot-color: white;
  --dot-box-shadow: none;
}
x-radio:active {
  --dot-color: #d6d6d6;
}
x-radio:focus {
  box-shadow: 0 0 0px 3px hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
}
x-radio[toggled] {
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 5%));
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 10%));
  --dot-transform: scale(0.4);
  --dot-box-shadow: rgba(0, 0, 0, 0.4) 1px 3px 7px;
}
x-radio[toggled]:active {
  background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) - 5%));
  --dot-color: white;
}

x-radio + x-label {
  margin-left: 4px;
  padding: 5px 0;
  font-size: 13px;
  font-weight: 500;
}

/*****************************************************************************************************************/

/**
 * Switch
 */

x-switch {
  width: 42px;
  height: 24px;
  box-shadow: 0 0 0px 2px #b3b3b3;
  border-radius: 999px;
  --focus-ring-width: 3px;
  --focus-ring-opacity: 1;
  --focus-ring-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
  --focus-ring-transition-duration: 0;
  --thumb-color: white;
  --track-height: 100%;
  --track-opacity: 1;
  --track-color: #b3b3b3;
}
x-switch[toggled] {
  box-shadow: 0 0 0px 2px hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 7%));
  --track-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 7%));
}

 /* @skin "mini" */

x-switch[skin="mini"] {
  width: 34px;
  height: 15px;
  margin: 0;
  --thumb-size: 15px;
}

/*****************************************************************************************************************/

/**
 * Select
 */

x-select {
  height: 24px;
  padding: 0 0 0 9px;
  position: relative;
  background: #4c4c4c;
  border: 1px solid #8c8c8c;
  border-radius: 2px;
  font-size: 14px;
}
x-select[disabled] {
  opacity: 0.4;
}
x-select:focus {
  box-shadow: 0 0 0px 3px hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
}
x-select::before {
  content: "";
  display: block;
  width: 20px;
  height: calc(100% + 2px);
  position: absolute;
  top: -1px;
  right: -1px;
  background: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
  border: 1px solid hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 7%));
  border-radius: 0 4px 4px 0;
  box-sizing: border-box;
}

x-select x-swatch {
  width: 18px;
  height: 18px;
}

/* Textured skin */

x-select[skin="textured"] {
  background-image: linear-gradient(to bottom, #4c4a4a, #4a4949);
  border-color: rgb(31, 31, 31);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.27), 0px 1px 0px 0px rgba(255, 255, 255, 0.18);
  --arrow-margin: 0 5px 0 7px;
}
x-select[skin="textured"]::before {
  display: none;
}

/*****************************************************************************************************************/

/**
 * Color select
 */

x-colorselect {
  border-color: #f3f3f3;
}

/*****************************************************************************************************************/

/**
 * Input
 */

x-input {
  background: #e4e4e4;
  border: 1px solid #e4e4e4;
  font-size: 12px;
  --inner-padding: 0 5px;
  --selection-background: inherit;
}
x-input:focus {
  background: white;
  outline: 2px solid hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
}
x-input[invalid] {
  border-color: #e62c2c;
  outline: 2px solid rgb(221, 116, 122);
}
x-input[invalid]:before {
  color: #ff9797;
}

x-input + x-input {
  margin-top: 20px;
}

/* Icon */
x-input > x-icon {
  width: 15px;
  height: 15px;
  min-width: 15px;
  margin: 0 0 0 5px;
  color: #565656;
}
x-input > x-icon:hover {
  cursor: default;
}

/* Placehodler */
x-input > x-label {
  display: none;
  position: absolute;
  top: 50%;
  max-width: 100%;
  padding: 0 5px 0 5px;
  transform: translateY(-50%);
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}
x-input[empty] > x-label {
  display: block;
}
x-input > x-icon + x-label {
  padding: 0 5px 0 25px;
}

/*****************************************************************************************************************/

/**
 * Number input
 */

x-numberinput {
  background: #e4e4e4;
  border: 1px solid #e4e4e4;
  font-size: 12px;
  --inner-padding: 0 5px;
  --selection-background: inherit;
}
x-numberinput:focus {
  background: white;
  outline: 2px solid hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
}
x-numberinput[invalid] {
  border-color: #e62c2c;
  outline: 2px solid rgb(221, 116, 122);
}

x-numberinput > x-stepper {
  margin-right: -20px;
  margin-left: 5px;
}

x-numberinput > x-label {
  display: none;
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 6px;
  top: 50%;
  left: 0;
  padding: 0 5px;
  transform: translateY(-50%);
  line-height: 1.8;
  color: rgba(0, 0, 0, 0.4);
  pointer-events: none;
  font-family: inherit;
  font-size: inherit;
}
x-numberinput[empty] > x-label {
  display: block;
}

/* @skin "condensed" */

x-numberinput[skin="condensed"] > x-stepper {
  border-radius: 0;
  margin: 0;
  height: 100%;
  display: flex;
}
x-numberinput[skin="condensed"]:focus > x-stepper {
  display: none;
}

/*****************************************************************************************************************/

/**
 * Textarea
 */

x-textarea {
  background: #e4e4e4;
  border: 1px solid #e4e4e4;
  font-size: 12px;
  --inner-padding: 2px 5px;
  --selection-background: inherit;
}
x-textarea:focus {
  background: white;
  outline: 2px solid hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
  border-color: hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l));
}
x-textarea[invalid] {
  border-color: #e62c2c;
  outline: 2px solid rgb(221, 116, 122);
}
x-textarea[invalid]:before {
  color: #ff9797;
}

x-textarea > x-label {
  display: none;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: var(--inner-padding);
  color: rgba(0, 0, 0, 0.4);
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  pointer-events: none;
}
x-textarea[empty] > x-label {
  display: block;
}

/*****************************************************************************************************************/

/**
 * Slider
 */

x-slider {
  --thumb-width: 17px;
  --thumb-height: 17px;
  --thumb-color: #f5f5f5;
  --thumb-border-color: #f5f5f5;
  --focus-ring-width: 6px;
  --focus-ring-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
  --focus-ring-transition-duration: 0;
  --tick-color: rgba(255, 255, 255, 0.6);
  --track-height: 3px;
  --track-color: #B0B0B0;
  --track-tint-color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 15%));
}
x-slider:active {
  --thumb-color: #dedede;
  --thumb-border-color: #dedede;
}

x-slider > x-label {
  font-size: 11px;
}

/* @skin "arrow" */

x-slider[skin="arrow"] {
  --track-tint-color: #B0B0B0;
  --thumb-d: path("M 0 0 L 100 0 L 100 55 L 50 100 L 0 55 Z");
  --thumb-width: 16px;
  --thumb-height: 20px;
}

/*****************************************************************************************************************/

/**
 * Progressbar
 */

x-progressbar {
  height: 6px;
  background: #DBDBDB;
  box-shadow: inset 0px 0px 0px 1px #C0C0C0;
  border-radius: 5px;
  --bar-background: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 15%));
}

/*****************************************************************************************************************/

/**
 * Throbber
 */

x-throbber[type="ring"] {
  color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 15%));
}
x-throbber[type="spin"] {
  color: rgb(239, 239, 239);
}

/*****************************************************************************************************************/

/**
 * Demo site
 */

xel-codeview {
  font-family: "Menlo", "Andale Mono", monospace;
  background: #4c4c4c;
  border: 1px solid #6b6b6b;
  --selection-background: rgba(255, 255, 255, 0.15);
}

:host(xel-app) #about-view {
  background: linear-gradient(to bottom,
    hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 15%)),
    hsl(var(--accent-color-h), var(--accent-color-s), var(--accent-color-l))
  );
}

:host(xel-app) #setup-view h3 x-icon {
  color: hsl(var(--accent-color-h), var(--accent-color-s), calc(var(--accent-color-l) + 20%));
}
