
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
:host([vertical]) {
  flex-flow: column;
  align-items: flex-start;
  justify-content: center;
}
