
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  width: fit-content;
}
