
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: block;
  position: relative;
  margin: 0 8px 0 0;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  border: 2px solid currentColor;
  --checkmark-width: 100%;
  --checkmark-height: 100%;
  --checkmark-opacity: 0;
  --checkmark-d: path("M 0.01 0 L 100 0 L 100 100 L 0 100 L 0.01 0 Z M 95.364 22.552 L 86.211 12.636 L 36.933 65.648 L 13.621 40.644 L 4.467 50.49 L 36.933 85.416 L 95.364 22.552 Z");
  --ripple-type: none; /* unbounded, none */
  --ripple-background: currentColor;
  --ripple-opacity: 0.15;
}
:host([toggled]) {
  --checkmark-opacity: 1;
}
:host([mixed]) {
  --checkmark-opacity: 1;
  --checkmark-d: path("M 0 0 L 100 0 L 100 100 L 0 100 Z M 87.033 42.592 L 12.967 42.592 L 12.967 57.408 L 87.033 57.408 Z");
}
:host([disabled]) {
  opacity: 0.4;
  pointer-events: none;
}
:host([hidden]) {
  display: none;
}
:host(:focus) {
  outline: none;
}

/**
 * Icons
 */

#checkmark {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--checkmark-width);
  height: var(--checkmark-height);
  opacity: var(--checkmark-opacity);
  d: var(--checkmark-d);
  transition-property: opacity;
  transition-timing-function: inherit;
  transition-duration: inherit;
}

#checkmark path {
  fill: currentColor;
  d: inherit;
}

/**
 * Ripples
 */

#ripples {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#ripples .ripple {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--ripple-background);
  opacity: var(--ripple-opacity);
  z-index: -1;
  will-change: opacity, transform;
  border-radius: 999px;
  transform: scale(2.6);
}
