
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  position: fixed;
  left: 50%;
  width: 600px;
  height: auto;
  min-height: 100px;
  padding: 0;
  box-sizing: border-box;
  z-index: 999999;
  display: block;
  outline: none;
  --backdrop-color: rgba(0, 0, 0, 0.5);
  --origin: center; /* center, top */
}
:host([offscreen]) {
  opacity: 0;
  pointer-events: none;
  top: -10000;
}
