
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: block;
  color: currentColor;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
}
:host([disabled]) {
  opacity: 0.5;
}
:host([hidden]) {
  display: none;
}

#svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  stroke: none;
  /* @bugfix: pointerOverEvent.relatedTarget leaks shadow DOM of <x-icon> */
  pointer-events: none;
}
