
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: block;
  position: relative;
  max-width: 140px;
  height: 24px;
  box-sizing: border-box;
  color: #000000;
  background: white;
  --selection-color: currentColor;
  --selection-background: #B2D7FD;
  --inner-padding: 0;
}
:host(:focus) {
  z-index: 10;
}
:host(:hover) {
  cursor: text;
}
:host([error]) {
  --selection-color: white;
  --selection-background: #d50000;
}
:host([disabled]) {
  pointer-events: none;
  opacity: 0.5;
}
:host([hidden]) {
  display: none;
}

::selection {
  color: var(--selection-color);
  background: var(--selection-background);
}

#main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

#input {
  width: 100%;
  height: 100%;
  padding: var(--inner-padding);
  box-sizing: border-box;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-align: inherit;
  cursor: inherit;
}

/* Selection rect */
:host(:not(:focus)) ::selection {
  color: inherit;
  background: transparent;
}

/* Error */
:host([error])::before {
  position: absolute;
  left: 0;
  top: 26px;
  box-sizing: border-box;
  color: #d50000;
  font-family: inherit;
  font-size: 11px;
  line-height: 1.2;
  white-space: pre;
  content: attr(error);
}

/* input type="date" { */
#date-clear  {
  display: none;
  position: absolute;
  right: 26px;  /* 24px icon width + 2px padding */
  color: inherit;
  background-color: inherit;
  pointer-events: none;
}
#date-picker {
  display: none;
  position: absolute;
  right: 0;
  color: inherit;
  background-color: inherit;
  pointer-events: none;
}

:host([no-clear]) input::-webkit-clear-button,
:host([no-clear]) #date-clear {
  display: none;
}
input::-webkit-inner-spin-button {
  display: none;
}

input::-webkit-clear-button,
input::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: default;
  width: 24px;
  height: 24px;
  padding: 2px;
}

:host([type="date"]) #date-picker,
:host([type="date"]:not([no-clear]):not([empty])) #date-clear {
  display: block;
}

:host([empty]) input::-webkit-datetime-edit-fields-wrapper {
  display: none;
}

:host(:active) input::-webkit-datetime-edit-fields-wrapper,
:host(:focus) input::-webkit-datetime-edit-fields-wrapper {
  display: inline-block;
}
/* input type="date" } */
