
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: block;
  position: relative;
  max-width: 140px;
  height: 24px;
  box-sizing: border-box;
  color: #000000;
  background: white;
  --inner-padding: 0;
}
:host(:focus) {
  z-index: 10;
}
:host(:hover) {
  cursor: text;
}
:host([disabled]) {
  pointer-events: none;
  opacity: 0.5;
}
:host([hidden]) {
  display: none;
}

#main {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

#input {
  width: 100%;
  height: 100%;
  padding: var(--inner-padding);
  box-sizing: border-box;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
}

/* Selection rect */
:host(:not(:focus)) ::selection {
  color: inherit;
  background: transparent;
}

/* Invalid value hint */
:host([invalid])::before {
  position: absolute;
  left: 0;
  top: 26px;
  box-sizing: border-box;
  color: #d50000;
  font-family: inherit;
  font-size: 11px;
  line-height: 1.2;
  white-space: pre;
  content: attr(invalid-hint);
}
