
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: none;
  position: fixed;
  min-width: 15px;
  min-height: 15px;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  box-sizing: border-box;
  color: white;
  background: #505050;
  z-index: 9999;
  font-size: 12px;
  user-select: text;
  transition: transform 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
:host([opened]),
:host([animating]) {
  display: block;
}
:host(:focus) {
  outline: none;
}
