
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  width: 0;
  height: 0;
  max-width: 0;
  max-height: 0;
  touch-action: none;
  will-change: opacity;
  cursor: default;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  position: fixed;
}
:host([hidden]) {
  display: none;
}

#inner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  min-width: 100vw;
  min-height: 100vh;
  background: inherit;
}
