
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: block;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  --focus-ring-color: currentColor;
  --focus-ring-opacity: 1;
  --focus-ring-width: 10px;
  --focus-ring-transition-duration: 0.15s;
  --thumb-width: 20px;
  --thumb-height: 20px;
  --thumb-d: path("M 50 50 m -50 0 a 50 50 0 1 0 100 0 a 50 50 0 1 0 -100 0");
  --thumb-transform: none;
  --thumb-color: gray;
  --thumb-border-width: 1px;
  --thumb-border-color: rgba(0, 0, 0, 0.2);
  --track-height: 2px;
  --track-color: gray;
  --track-tint-color: black;
}
:host(:focus) {
  outline: none;
}
:host(:hover) {
  cursor: default;
}
:host([disabled]) {
  pointer-events: none;
  opacity: 0.4;
}

/**
 * Tracks
 */

#tracks {
  position: absolute;
  width: 100%;
  height: var(--track-height);
  top: calc((var(--thumb-height) / 2) - var(--track-height)/2);
}

#tracks #normal-track {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--track-color);
  border-radius: 10px;
}

#tracks #tint-track {
  position: absolute;
  width: 0%;
  height: 100%;
  background: var(--track-tint-color);
}

/**
 * Thumbs
 */

#thumbs {
  position: relative;
  width: calc(100% - var(--thumb-width));
  height: 100%;
}

#thumbs .thumb {
  position: relative;
  left: 0;
  width: var(--thumb-width);
  height: var(--thumb-height);
  display: block;
  box-sizing: border-box;
  overflow: visible;
  transform: var(--thumb-transform);
  transition: transform 0.2s ease-in-out;
  will-change: transform;
  d: var(--thumb-d);
}

#thumbs .thumb .shape {
  d: inherit;
  fill: var(--thumb-color);
  stroke: var(--thumb-border-color);
  stroke-width: var(--thumb-border-width);
  vector-effect: non-scaling-stroke;
}

#thumbs .thumb .focus-ring {
  d: inherit;
  fill: none;
  stroke: var(--focus-ring-color);
  stroke-width: 0;
  opacity: var(--focus-ring-opacity);
  vector-effect: non-scaling-stroke;
  transition: stroke-width var(--focus-ring-transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
:host(:focus) #thumbs .thumb .focus-ring {
  stroke-width: var(--focus-ring-width);
}

/**
 * Ticks
 */

#ticks {
  width: calc(100% - var(--thumb-width));
  height: 5px;
  margin: 0 0 3px 0;
  position: relative;
  margin-left: calc(var(--thumb-width) / 2);
}
#ticks:empty {
  display: none;
}

#ticks .tick {
  position: absolute;
  width: 1px;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
}

/**
 * Labels
 */

#labels {
  position: relative;
  width: calc(100% - var(--thumb-width));
  height: 14px;
  margin-left: calc(var(--thumb-width) / 2);
  font-size: 12px;
}
:host(:empty) #labels {
  display: none;
}

::slotted(x-label) {
  position: absolute;
  transform: translateX(-50%);
}
