
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: fit-content;
  --button-color: rgba(0, 0, 0, 0.6);
  --button-border-left: none;
  --pressed-button-color: white;
  --pressed-button-background: rgba(0, 0, 0, 0.3);
  --increment-arrow-width: 11px;
  --increment-arrow-height: 11px;
  --increment-arrow-path-d: path("M 24.381 69.236 L 49.998 43.258 L 76.104 69.128 L 68.759 76.474 L 49.995 57.708 L 31.242 76.46 L 24.381 69.236 Z" );
  --decrement-arrow-width: 11px;
  --decrement-arrow-height: 11px;
  --decrement-arrow-path-d: path("M 24.381 32.156 L 49.998 58.134 L 76.104 32.264 L 68.759 24.918 L 49.995 43.684 L 31.242 24.932 L 24.381 32.156 Z" );
}
:host(:hover) {
  cursor: default;
}

#increment-button,
#decrement-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  user-select: none;
  box-sizing: border-box;
  color: var(--button-color);
  border-left: var(--button-border-left);
}
#increment-button[data-pressed],
#decrement-button[data-pressed] {
  color: var(--pressed-button-color);
  background: var(--pressed-button-background);
}
:host([disabled="increment"]) #increment-button,
:host([disabled="decrement"]) #decrement-button,
:host([disabled=""]) #increment-button,
:host([disabled=""]) #decrement-button {
  opacity: 0.3;
  pointer-events: none;
}

#increment-arrow {
  width: var(--increment-arrow-width);
  height: var(--increment-arrow-height);
  pointer-events: none;
}
#decrement-arrow {
  width: var(--decrement-arrow-width);
  height: var(--decrement-arrow-height);
  pointer-events: none;
}

#increment-arrow-path {
  d: var(--increment-arrow-path-d);
  fill: currentColor;
}
#decrement-arrow-path {
  d: var(--decrement-arrow-path-d);
  fill: currentColor;
}
