
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: block;
  width: 30px;
  height: 18px;
  margin: 0 8px 0 0;
  box-sizing: border-box;
  display: flex;
  --focus-ring-color: currentColor;
  --focus-ring-opacity: 0.2;
  --focus-ring-width: 10px;
  --focus-ring-transition-duration: 0.15s;
  --ripple-type: none; /* unbounded, none */
  --ripple-background: currentColor;
  --ripple-opacity: 0.2;
  --thumb-color: currentColor;
  --thumb-size: 20px;
  --thumb-border-radius: 999px;
  --track-height: 65%;
  --track-color: currentColor;
  --track-opacity: 0.5;
  --track-border-radius: 999px;
}
:host([disabled]) {
  opacity: 0.5;
  pointer-events: none;
}
:host(:focus) {
  outline: none;
}

#main {
  width: 100%;
  height: 100%;
  position: relative;
}

/**
 * Track
 */

#track {
  width: 100%;
  height: var(--track-height);
  background: var(--track-color);
  opacity: var(--track-opacity);
  border-radius: var(--track-border-radius);
}

/**
 * Thumb
 */

#thumb {
  position: absolute;
  left: 0px;
  width: var(--thumb-size);
  height: var(--thumb-size);
  background: var(--thumb-color);
  border-radius: var(--thumb-border-radius);
  transition: left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
:host([toggled]) #thumb {
  left: calc(100% - var(--thumb-size));
}
:host([mixed]) #thumb {
  left: calc(50% - var(--thumb-size) / 2);
}

/**
 * Focus ring
 */

#focus-ring {
  position: absolute;
  top: 50%;
  left: 50%;
  width: var(--thumb-size);
  height: var(--thumb-size);
  transform: translate(-50%, -50%);
  background: transparent;
  border: 0px solid var(--focus-ring-color);
  border-radius: 999px;
  opacity: var(--focus-ring-opacity);
  transition: border-width var(--focus-ring-transition-duration) cubic-bezier(0.4, 0, 0.2, 1);
}
:host(:focus) #thumb #focus-ring {
  border-width: var(--focus-ring-width);
}

/**
 * Ripples
 */

#ripples .ripple {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(var(--thumb-size) + 22px);
  height: calc(var(--thumb-size) + 22px);
  transform: translate(-50%, -50%);
  background: var(--ripple-background);
  border-radius: 999px;
  opacity: var(--ripple-opacity);
}
