
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: flex;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  min-height: 24px;
  background: white;
  border: 1px solid #BFBFBF;
  font-size: 12px;
  --close-button-path-d: path("M 25 16 L 50 41 L 75 16 L 84 25 L 59 50 L 84 75 L 75 84 L 50 59 L 25 84 L 16 75 L 41 50 L 16 25 Z");
  --selection-color: currentColor;
  --selection-background: #B2D7FD;
  --tag-background: rgba(0, 0, 0, 0.04);
  --tag-border: 1px solid #cccccc;
  --tag-color: currentColor;
}
:host(:focus) {
  outline: 1px solid blue;
}
:host([invalid]) {
  --selection-color: white;
  --selection-background: #d50000;
}
:host([disabled]) {
  pointer-events: none;
  opacity: 0.5;
}
:host([hidden]) {
  display: none;
}

::selection {
  color: var(--selection-color);
  background: var(--selection-background);
}

#main {
  width: 100%;
  height: 100%;
  min-height: inherit;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  cursor: text;
  overflow-y: scroll;
}

#items {
  display: flex;
  flex-wrap: wrap;
  padding: 2px;
}

.item {
  height: 100%;
  margin: 2px;
  padding: 0px 3px 0 6px;
  display: flex;
  line-height: 1.2;
  align-items: center;
  justify-content: center;
  background: var(--tag-background);
  border: var(--tag-border);
  color: var(--tag-color);
  font-size: inherit;
  cursor: default;
  user-select: none;
}
.item#editable-item {
  color: inherit;
  outline: none;
  background: none;
  border: 1px solid transparent;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-start;
  cursor: text;
  user-select: text;
}

.item .close-button {
  color: inherit;
  opacity: 0.8;
  width: 11px;
  height: 11px;
  vertical-align: middle;
  margin-left: 4px;
}
.item .close-button:hover {
  background: rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.item .close-button-path {
  fill: currentColor;
  d: var(--close-button-path-d);
}
