
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  position: relative;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: flex-start;
}
:host([centered]) {
  margin: 0 auto;
  justify-content: center;
}

:host([centered]) ::slotted(x-tab) {
  flex: 0;
}

#selection-indicator {
  position: absolute;
  width: 100%;
  height: fit-content;
  bottom: 0;
  left: 0;
  pointer-events: none;
}
