
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: block;
  position: relative;
  width: 100%;
  min-height: 100px;
  box-sizing: border-box;
  background: white;
  color: #000000;
  --selection-color: currentColor;
  --selection-background: #B2D7FD;
  --inner-padding: 0;
}
:host(:hover) {
  cursor: text;
}
:host([error]) {
  --selection-color: white;
  --selection-background: #d50000;
}
:host([disabled]) {
  pointer-events: none;
  opacity: 0.5;
}
:host([hidden]) {
  display: none;
}

::selection {
  color: var(--selection-color);
  background: var(--selection-background);
}

::-webkit-scrollbar {
  max-width: 6px;
  max-height: 6px;
  background: none;
}
::-webkit-scrollbar-track {
  border-radius: 25px;
}
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 25px;
}
::-webkit-scrollbar-corner {
  display: none
}

#main {
  display: flex;
  flex-flow: column;
  height: 100%;
  min-height: inherit;
}

#editor {
  flex: 1;
  padding: var(--inner-padding);
  box-sizing: border-box;
  color: inherit;
  background: none;
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
  overflow: auto;
}

/* Error text */
:host([error])::before {
  position: absolute;
  left: 0;
  bottom: -20px;
  box-sizing: border-box;
  color: #d50000;
  font-family: inherit;
  font-size: 11px;
  line-height: 1.2;
  white-space: pre;
  content: attr(error) " ";
}
