
/*
 * @copyright
 *   © 2016-2017 Jarosław Foksa
 */

:host {
  display: block;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
}
:host([type="ring"]) {
  color: #4285f4;
}
:host([type="spin"]) {
  color: #404040;
}

#main {
  width: 100%;
  height: 100%;
}

svg {
  color: inherit;
  width: 100%;
  height: 100%;
}
